
<div class="container">
    <div class="row row-cols-4">
        <div class="col m-3" *ngFor="let cookie of cookies">
            <div class="card m-4" style="width: 18rem;" >
                <img [src]="cookie.image" class="card-img-top" [alt]="cookie.name">
                <div class="card-body">
                    <h5 class="card-title">{{cookie.name}}</h5>
                    <p><span class="card-text">{{cookie.type}}</span></p>
                    <p><span class="card-text">${{cookie.price}}</span></p>
                    <div class="d-flex">
                        <app-int-register [quantity] = "cookie.quantity" [max] = "cookie.stock" *ngIf="cookie.stock" ></app-int-register>
                        <p><span class="badge badge-danger" *ngIf="cookie.stock==0"> SIN STOCK</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>