
<div class="container">


    <img class="img-fluid max-width: 100%" src="assets/img/veromar-about.jpg" alt="veromar-about">

    <div class="container-sm mt-4">
        <h3> ¿Quienes somos? </h3>

        <p> Somos el mas amplio distribuidor de galletitas y golosinas en Tandil, con mas de 25 años de trayectoria sirviendo a nuestros clientes con un gran AFECTO y una ATENCION IMPECABLE, pero tambien con lo mas importante de todo: El mejor precio. </p>

        <h3 class="mb-4 mt-4">Preguntas frecuentes</h3>

        <h5>Ustedes venden cosas vencidas?</h5>

        <p>Eso es totalmente falso, son calumnias inventadas por nuestra competencia y algun que otro ex-mienbro resentido de nuestro personal, nosotros solo manejamos productos de 1era calidad.</p>

        <h5> Si trabajo en Veromar, puedo comer galletitas gratis? </h5>

        <p> Bueno, todos los meses premiamos a nuestro personal si este se porto bien, pero no podemos darnos el lujo de darles acceso ilimitado para cualquiera de nuestros productos. Si trabajan bien, tendran su justa recompensa</p>

        <h5></h5>

    </div>




</div>